body{
    background-image: url("../images/page-background.jpg");
    font-family: 'PT Serif', serif;
}
.jumbotron{
    background-color: beige;
    text-align: center;
}
.btn{
    margin: 10px;
    text-align: center;
}
